<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

<title>Sign-in</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/login.css">





</head>
<body>
	<div class="container">
		<div class="screen">
			<div class="screen__content" >
				<form class="login" th:action="@{/login}" method="post">
					<div class="login__field">
						<i class="login__icon fas fa-user"></i> <input type="text"
							class="login__input" id="username" name="username"
							placeholder="User name">
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i> <input type="password"
							class="login__input" id="password" name="password"
							placeholder="Password">
					</div>
					<div class="buttons">
						<button class="button login__submit" type="submit">
							<span class="button__text">Log In</span> <i
								class="button__icon fas fa-chevron-right"></i>
						</button>
						<button type="button" class="button login__submit"
							onclick="location.href='/register'">
							<span class="button__text">Register</span> <i
								class="button__icon fas fa-chevron-right"></i>
						</button>
					</div>
				</form>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape1"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
</body>
</html>